<div *ngIf="isLoading">
  <app-loading [fullscreen]="true"></app-loading>
</div>

<div id="user-list" class="container p-0 no-gutters">

    <header>
      <div class="row no-gutters">
        <div class="col-4 col-md-4 col-xs-2">                
            <a routerLink="../create" class="btn btn-success">Novo Usuário</a>                
        </div>   
    
        <div class="col-8 col-md-8 col-xs-10">
          <div class="input-group">
            <input type="search" id="txtSearch" [(ngModel)]="txtSearch" name='search' class="form-control" placeholder="Pesquisar" aria-label="Procurar Usuário" aria-describedby="btnSearch">
            <div class="input-group-append">
              <button (click)="searchUsers()" class="btn btn-success" type="button" id="btnSearch"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
    </header> 
     
      <div class="table-responsive" *ngIf="users && users.length > 0">
        <table id="user-table" class="table table-hover">
          <thead>
            <tr>        
              <th>Login</th>
              <th>Ativo</th>        
              <th>Tipo</th>        
              <th></th>        
              <th></th>        
              <th></th>        
            </tr>
          </thead>
          <tbody>
            <tr [id]="user.id"
            *ngFor='let user of users | paginate : { itemsPerPage: pagination.PageSize, currentPage: pagination.CurrentPage, totalItems: pagination.TotalCount};' (click)="setSelectedUser(user)">    
              <td  class="d-none d-sm-table-cell">{{user.login}}</td>
              <td  class="d-table-cell d-sm-none">{{user.login.length > 10 ? (user.login | slice:0:10) + '..' : user.login}}</td>
              <td><b><span style="color: green;" *ngIf="user.active == true">Sim</span><span style="color: red;" *ngIf="user.active == false">Não</span></b></td>        
              <td class="d-none d-sm-table-cell">{{TranslateUserType(user.type)}}</td>                    
              <td  class="d-table-cell d-sm-none"><span class="badge badge-info">{{TranslateUserTypeMobile(user.type)}}</span></td>                    
              <td *ngIf="user.type=='ADMINISTRATOR'"><button disabled=true class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></button></td>
              <td *ngIf="user.type!='ADMINISTRATOR'"><a class="btn btn-warning btn-sm" [routerLink]="['../update/', user.id]"><i class="fa fa-edit"></i></a></td>
              <td><button [disabled]="user.type != 'MANAGER'" (click)="setRoleToDelete(role);$event.stopPropagation()" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash"></i></button>
            </tr>
          </tbody>
        </table>
     
      <div class="row no-gutters" id="groupPagination">
        <div class="col-12 text-center">
          <pagination-controls 
          (pageChange)="onHandlePageChange($event)"
          maxSize="8"
          responsive="true"
          previousLabel=""
          nextLabel="">
          </pagination-controls>
        </div>
      </div>      
    </div>  
    
    <div class="row no-gutters" id="noUser" *ngIf="users == undefined || users == null || (users && users.length == 0)">
      <div class="col-12 text-center"  *ngIf="search && errorMessage == '' && ((users && users.length == 0) || users == null)">
        <p><i style="color: orangered;font-size: 24px;" class="fa fa-warning"></i></p>
        <h2 style="font-size: 20px;">Não encontramos nenhum usuário</h2>
      </div>
      <div class="col-12 text-center"  *ngIf="errorMessage !=''">
        <h2 style="font-size: 22px;"><i style="color: red;font-size: 24px;" class="fa fa-warning"></i> Erro</h2>
        <h3 style="font-size: 20px;">{{errorMessage}}</h3>
      </div>
    </div> 
      
  </div>


  <button style="visibility: hidden;" id="deleteModalTrigger" data-toggle="modal" data-target="#deleteModal"></button>

  <div>               
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Excluir Usuário</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body" *ngIf='selectedUserToDelete'>     
                <div class="row">
                    <div class="col-12 text-center">
                        <p>Tem certeza que deseja excluir o usuário "<b>{{selectedUserToDelete.login.length > 25 ? (selectedUserToDelete.name | slice:0:25) + '..' : selectedUserToDelete.name }}</b>" ?</p>
                    </div>                       
                </div>                                                                                                     
            </div>
            <div class="modal-footer">             
              <button (click)="deleteUser(selectedUserToDelete)" type="button" class="btn btn-success" data-dismiss="modal" aria-label="Yes">Sim</button>                           
              <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="No">Não</button>   
            </div>
        </div>
        </div>
    </div>
  </div>

  <button style="visibility: hidden;" id="detailModalTrigger" data-toggle="modal" data-target="#ItemDetailsModal"></button>

<div>               
  <!-- Modal -->
  <div class="modal fade" id="ItemDetailsModal" tabindex="-1" role="dialog" aria-labelledby="ItemDetailsModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Detalhes</h5>             
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body" *ngIf='selectedUser'>                      
                <div class="row">
                    <div class="col-12">
                      <p><b>Name: </b>{{selectedUser.login}}</p>                        
                      <p><b>Ativo: </b>{{selectedUser.active == true ? 'Sim' : 'Não'}}</p>  
                      <p><b>Tipo: </b>{{TranslateUserType(selectedUser.type)}}</p>                                                           
                    </div>                       
                </div>                                       
              </div>                                                                                                                                           
            </div>                
        </div>
      </div>
  </div>
  
  
  