<div id="about" class="container no-gutters text-center">
    <img class="img-responsive" src="/assets/about/me.png" id="profile" alt="Me">

    <p>José <b>Christiano</b> Viana Junior</p>
    <p>Analista de Sistemas e Aventureiro na Bolsa de Valores</p>    
    <p>Trabalho de Conclusão de Curso de Especialização - <strong>PUC MINAS</strong></p>    

    <div>               
        <a href="https://www.linkedin.com/in/jos%C3%A9-christiano-viana-junior-1a6288147" target="_blank"><i class="fa fa-linkedin"></i></a> |
        <a href="https://github.com/christianoviana" target="_blank"><i class="fa fa-github"></i></a>
    </div> 
</div>>
