<header>
    <div id="header-top">
        <div class="container text-right">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <a href="#" class="social-media"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="social-media"><i class="fa fa-facebook-square"></i></a>
                    <a href="#" class="social-media"><i class="fa fa-twitter-square"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div id="wrapper"> <!--wrapper-->          
        <nav [ngClass]="{'fixed-top': fixedNavbar===true, 'fixed-top--custom': fixedNavbar ===true}" class="navbar navbar-expand-md navbar-light">
                
            <div class="container"> <!--container-->   
                <a class="navbar-brand" routerLink="/home"><img width="150" src="/assets/logo.png"/></a>  
        
        
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>                 
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item" *ngIf="!userLogged"><a class="nav-link" routerLink="/home" routerLinkActive="active">Início</a></li>                     
                        <li class="nav-item" *ngIf="!userLogged"><a class="nav-link" routerLink="/about" routerLinkActive="active">Sobre</a></li>                            
                        <li class="nav-item" *ngIf="userLogged && isCharity()"><a class="nav-link" routerLink="/charities/information" routerLinkActive="active">Meus Dados</a></li>            
                        <li class="nav-item dropdown" routerLinkActive="active">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Entidades</a>
                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">                                                       
                                <a class="dropdown-item" routerLink="/charities/create" routerLinkActive="active" *ngIf="!userLogged"><i class="fa fa-save"></i> Cadastrar</a>
                                <a class="dropdown-item" routerLink="/charities/list" routerLinkActive="active"><i class="fa fa-search"></i> Procurar</a>      
                                <a class="dropdown-item" routerLink="/pendings/detail" routerLinkActive="active"><i class="fa fa-check"></i> Acompanhar Solicitação</a>     
                                <a class="dropdown-item" routerLink="/pendings/approve" routerLinkActive="active" *ngIf="userLogged && isMaster()"><i class="fa fa-vcard"></i> Aprovações</a>        
                            </div>
                        </li>  
                        <li class="nav-item dropdown" routerLinkActive="active" *ngIf="userLogged && !isAdmin() && (isDonor() || isCharity())">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Doações</a>
                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">                                                       
                                <a class="dropdown-item" routerLink="donors/donation" routerLinkActive="active" *ngIf="isDonor()"><i style="color: red;" class="fa fa-heart"></i> Minhas Doações</a>     
                                <a class="dropdown-item" routerLink="/charities/donation" routerLinkActive="active" *ngIf="isCharity()" [ngClass]="{'disabled': status && status != 'APPROVED'}"><i class="fa fa-credit-card"></i> Doações Recebidas</a>     
                                <a class="dropdown-item" routerLink="/charities/item" routerLinkActive="active" *ngIf="isCharity()" [ngClass]="{'disabled': status && status != 'APPROVED'}"><i class="fa fa-cart-plus"></i> Cadastrar Itens</a>     
                            </div>
                        </li>  

                        <li class="nav-item dropdown" routerLinkActive="active" *ngIf="userLogged && isAdmin()">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Configurações</a>
                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" routerLink="/groups/list" routerLinkActive="active"><i class="fa fa-group"></i> Grupos</a>
                                <a class="dropdown-item" routerLink="/items/list" routerLinkActive="active"><i class="fa fa-shopping-bag"></i> Itens</a>
                                <a class="dropdown-item" routerLink="/roles/list" routerLinkActive="active"><i class="fa fa-lock"></i> Regras de Acesso</a>
                                <a class="dropdown-item" routerLink="/users/list" routerLinkActive="active"><i class="fa fa-user"></i> Usuários</a>
                            </div>
                        </li>
                        
                        <li class="nav-item dropdown" routerLinkActive="active" *ngIf="userLogged && isMaster()">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Relatórios</a>
                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" routerLink="/reports/charities" routerLinkActive="active"><i class="fa fa-group"></i> Entidades Beneficente</a>
                                <a class="dropdown-item" routerLink="/reports/users" routerLinkActive="active"><i class="fa fa-shopping-bag"></i> Usuários</a>
                            </div>
                        </li>  
                    </ul>
                            
                    <ul class="navbar-nav navbar-right" *ngIf="userLogged">  
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Olá, <b>{{getName()}}</b></a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a *ngIf="isDonorPf()" class="dropdown-item" routerLink="/donors/update-pf" routerLinkActive="active">Dados Cadastrais</a>
                                <a *ngIf="isDonorPj()" class="dropdown-item" routerLink="/donors/update-pj" routerLinkActive="active">Dados Cadastrais</a>
                            
                                <a *ngIf="userLogged && isCharity()" class="dropdown-item" routerLink="/charities/update" routerLinkActive="active" [ngClass]="{'disabled': (status == null || status == undefined || status == '') || (status != 'APPROVED' && status != 'PENDING_DATA')}">Informações</a>
                                <a *ngIf="userLogged && isCharity()" class="dropdown-item" routerLink="/charities/information/update" routerLinkActive="active" [ngClass]="{'disabled': !hasInformation || (status == null || status == undefined || status == '' || status != 'APPROVED')}">Dados Complementares</a>
                                <div *ngIf="!isAdmin()"class="dropdown-divider"></div>
                                <a class="dropdown-item" routerLink="" (click)="onLogout()">Sair</a>
                            </div>
                        </li>                                     
                    </ul>

                    <ul id="loginButtons" class="navbar-nav navbar-right" *ngIf="userLogged===null">                       
                        <li class="nav-item"><a routerLink="oauth/register" routerLinkActive="active" class="btn btn-primary">Criar Conta <i class="fa fa-user-plus"></i></a></li> 
                        <li class="nav-item"><a routerLink="oauth/login" routerLinkActive="active" class="btn btn-primary">Acessar <i class="fa fa-sign-in"></i></a></li> 
                    </ul>
                </div>   
            </div> <!--container-->   
        </nav>         
    </div> <!--wrapper-->   
</header>
