<div *ngIf="isLoading">
  <app-loading [fullscreen]="true"></app-loading>
</div>

<div id="group-list" class="container p-0 no-gutters">

  <header>
    <div class="row no-gutters">
      <div class="col-4 col-md-4 col-xs-2">                
          <a routerLink="../create" class="btn btn-success">Novo Grupo</a>                
      </div>   
  
      <div class="col-8 col-md-8 col-xs-10">
        <div class="input-group">
          <input [(ngModel)]="txtSearch" type="search" id="txtSearch" name='search' class="form-control" placeholder="Pesquisar" aria-label="Procurar Grupo" aria-describedby="btnSearch">
          <div class="input-group-append">
            <button (click)="searchGroups()" class="btn btn-success" type="button" id="btnSearch"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
  </header> 
   
    <div class="table-responsive" *ngIf="groups && groups.length > 0">
      <table id="group-table" class="table table-hover">
        <thead>
          <tr>        
            <th>Nome</th>
            <th class="d-none d-sm-table-cell">Descrição</th>        
            <th></th>        
            <th></th>        
          </tr>
        </thead>
        <tbody>
          <tr [id]="group.id"
          *ngFor='let group of groups | paginate : { itemsPerPage: pagination.PageSize, currentPage: pagination.CurrentPage, totalItems: pagination.TotalCount};' (click)="setSelectedGroup(group)">    
            <td>{{group.name > 15 ? (group.name | slice:0:15) + '..' : group.name }}</td>
            <td class="d-none d-sm-table-cell">{{group.description}}</td>        
            <td><a class="btn btn-warning btn-sm" [routerLink]="['../update/', group.id]"><i class="fa fa-edit"></i></a></td>
            <td><button (click)="setGroupToDelete(group);$event.stopPropagation()" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash"></i></button></td>
          </tr>
        </tbody>
      </table>
   
    <div class="row no-gutters" id="groupPagination">
      <div class="col-12 text-center">
        <pagination-controls 
        (pageChange)="onHandlePageChange($event)"
        maxSize="8"
        responsive="true"
        previousLabel=""
        nextLabel="">
        </pagination-controls>
      </div>
    </div>      
  </div>  
  
  <div class="row no-gutters" id="noGroup" *ngIf="groups == undefined || groups == null || (groups && groups.length == 0)">
    <div class="col-12 text-center"  *ngIf="search && errorMessage == '' && ((groups && groups.length == 0) || groups == null)">
      <p><i style="color: orangered;font-size: 24px;" class="fa fa-warning"></i></p>
      <h2 style="font-size: 20px;">Não encontramos nenhum grupo</h2>
    </div>
    <div class="col-12 text-center"  *ngIf="errorMessage !=''">
      <h2 style="font-size: 22px;"><i style="color: red;font-size: 24px;" class="fa fa-warning"></i> Erro</h2>
      <h3 style="font-size: 20px;">{{errorMessage}}</h3>
    </div>
  </div> 
    
</div>

<button style="visibility: hidden;" id="deleteModalTrigger" data-toggle="modal" data-target="#deleteModal"></button>

<div>               
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Excluir Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body" *ngIf='selectedGroupToDelete'>     
              <div class="row">
                  <div class="col-12 text-center">
                      <p>Tem certeza que deseja excluir o grupo "<b>{{selectedGroupToDelete.name > 25 ? (selectedGroupToDelete.name | slice:0:25) + '..' : selectedGroupToDelete.name }}</b>" ?</p>
                  </div>                       
              </div>                                                                                                     
          </div>
          <div class="modal-footer">             
            <button (click)="deleteGroup(selectedGroupToDelete)" type="button" class="btn btn-success" data-dismiss="modal" aria-label="Yes">Sim</button>                           
            <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="No">Não</button>   
          </div>
      </div>
      </div>
  </div>
</div>

<button style="visibility: hidden;" id="detailModalTrigger" data-toggle="modal" data-target="#ItemDetailsModal"></button>

<div>               
  <!-- Modal -->
  <div class="modal fade" id="ItemDetailsModal" tabindex="-1" role="dialog" aria-labelledby="ItemDetailsModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Detalhes</h5>             
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body" *ngIf='selectedGroup'>                      
                <div class="row">
                    <div class="col-12">
                      <p><b>Name: </b>{{selectedGroup.name}}</p>                        
                      <p><b>Descrição: </b>{{selectedGroup.description}}</p>                                                            
                    </div>                       
                </div>                                       
              </div>                                                                                                                                           
            </div>                
        </div>
      </div>
  </div>


