
 <div *ngIf="isLoading">
    <app-loading [fullscreen]="true"></app-loading>
</div>   
        
<div class="container" id="role-update" style="border: 1px solid gray;">    

    <div class="row  text-right">
        <div class="col-12">                
            <a routerLink="../../list" class="btn btn-outline-success"><i class="fa fa-arrow-circle-left"></i></a>                
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <app-alert></app-alert>    
        </div>
    </div>

    <div class="row">
        <div class="col-12">                             
            <fieldset [disabled]='!role'>
                <h1>Atualizar Regra</h1>
                <form #roleUpdateForm='ngForm' (ngSubmit)='onUpdateRole(roleUpdateForm)'>
                    <div class="form-group">
                        <label for="name"><b>Nome</b></label>
                        <input autocomplete="off" required [(ngModel)]='role.name' name="name" id="name" type="text" class="form-control">
                    </div>
            
                    <div class="form-group">
                        <label for="description"><b>Descrição</b></label>
                        <textarea id="description"class="form-control" required [(ngModel)]='role.description' minlength="1" name="description" maxlength="200"></textarea>           
                    </div>
                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-success" [disabled]='!roleUpdateForm.valid || roleUpdateForm.pristine'>Atualizar <i class="fa fa-save"></i></button>
                    </div>
                  
                </form>  
            </fieldset>          
        </div>
    </div>          
</div>
