<div *ngIf="isLoading">
  <app-loading [fullscreen]="true"></app-loading>
</div>

<div id="cart" class="container no-gutters p-0">
  <div class="row  text-right p-2">
    <div class="col-12">                
        <button (click)='back()' class="btn btn-outline-success"><i class="fa fa-arrow-circle-left"></i></button>                
    </div>
  </div>

  <h1  id="title" class="text-center" style="font-size: 24px;">Carrinho de Compras <i class="fa fa-cart-plus"></i></h1>
  
  <div *ngIf="charity && charityId !=''" id="charity-info" class="row no-gutters">       
    <div class="col-md-12 col-xs-12 text-center">
        <a [routerLink]="[ '/donations', charity.id ]">
          <img *ngIf="charity && charity.information" class="picture" [src]="charity.information.picture_url"> 
        </a>       
        <h1 style="text-align: center;font-size: 24px;">{{charity && charity.name}}</h1>
        <h2 *ngIf="charity" style="text-align: center;font-size: 18px;">({{charity && charity.cnpj}})</h2>
    </div>
  </div>

  <app-donate-cart-items *ngIf="(!onlyMoney || this.total() == 0)" [charityId]='charityId'></app-donate-cart-items>

  <div *ngIf="this.cartItems && this.cartItems.length > 0">
    <div *ngIf="type()=='online'" class="text-center" style="background-color: lightgray;">
      <div class="row no-gutters p-0">
        <div class="col-12">
          <p style="padding: 20px;margin: 0px;"><b>Total: {{total() | currency:'BRL'}}</b></p>
        </div>
      </div>
    </div>
  
    <div class="text-center" style="padding: 30px;"> 
        <div class="row">
          <div class="col-12">
            <a style="width: 200px;" class="btn btn-warning btn-md" id="btn-payment" [routerLink]="['../payment']"><b>Realizar Doação <i class="fa fa-credit-card-alt"></i></b></a> 
          </div>        
        </div>

        <div class="row" style="margin-top: 20px;">         
          <div class="col-12"> 
             <button  style="width: 200px;" (click)="clearShoppingCart()" class="btn btn-danger btn-md" id="btn-clear"><b>Limpar Carrinho <i class="fa fa-trash-o"></i></b></button>     
          </div>
        </div>
     </div>
  </div>  

  