<div class="row">
    <div class="col-12">
      
        <div *ngIf="isLoading">
            <app-loading></app-loading>
        </div>
             
        <form #updateForm='ngForm' (ngSubmit)='onUpdate(updateForm)' id="update-form">
            
            <app-alert></app-alert>
                  
            <div class="form-row">
                <div class="form-group col-md-12 col-sm-12">
                    <h3 class="text-center">Atualizar Dados (Doador PF)</h3>                  
                </div>                           
            </div>           
          
            <hr>

            <div class="form-row">              
                <div class="form-group col-md-6 col-sm-12">
                    <label for="name">Nome *</label>
                    <input type="text" required [(ngModel)]='donorPf && donorPf.name' name="name" id="name" class="form-control is-invalid">
                      <div class="invalid-feedback">
                        Looks good!
                      </div>
                </div>
                <div class="form-group col-md-6 col-sm-12">
                    <label for="cpf">CPF *</label>
                    <input type="text" required [(ngModel)]='donorPf && donorPf.cpf' name="cpf" id="cpf" class="form-control">
                </div>
            </div>

            <div class="form-row">   
                <div class="form-group col-md-6 col-sm-12">
                    <label for="birthday">Data de Nascimento *</label>
                    <input type="date" required  [ngModel]="donorPf && donorPf.birthday | date:'yyyy-MM-dd'" (ngModelChange)="donorPf.birthday = $event" name="birthday" id="birthday" class="form-control">
                </div>
                <div class="form-group col-md-6 col-sm-12">
                    <label for="genre">Sexo *</label>
                    <select required [(ngModel)]='donorPf && donorPf.genre' name="genre" id="genre" class="form-control">                         
                        <option selected value="">Selecione...</option>
                        <option value="feminino">Feminino</option>
                        <option value="masculino">Masculino</option>
                        <option value="outros">Outros</option>
                    </select>
                </div>    
            </div>          
          
            <div class="form-row"> 
                <div class="form-group col-md-5 col-sm-12">
                    <label for="country">País *</label>
                    <select required ngModel="BR" name="country" id="country" class="form-control">
                        <option selected value="BR">Brasil</option>
                    </select>
                </div> 
                <div class="form-group col-md-2 col-sm-12">
                    <label for="state">Estado *</label>
                    <input type="text" required [(ngModel)]='donorPf && donorPf.state' name="state" id="state" class="form-control">
                </div>  
                <div class="form-group col-md-5 col-sm-12">
                    <label for="city">Cidade *</label>
                    <input type="text" required [(ngModel)]='donorPf && donorPf.city' name="city" id="city" class="form-control">
                </div>                          
            </div>
           
            <div class="text-center" id="login-buttons">
                <button 
                    class="btn btn-primary btn-large-width"
                    [disabled]="!updateForm.valid || updateForm.pristine"
                    >
                    Atualizar <i class="fa fa-save"></i></button>              
            </div>                     
        </form>
    </div>
</div>