<div id="role-list" class="container p-0 no-gutters" *ngIf="roles && roles.length > 0">

    <header>
      <div class="row no-gutters">
        <div class="col-6 col-md-6 col-xs-2">                
            <a routerLink="../create" class="btn btn-success">Nova Regra</a>                
        </div>   
    
        <div class="col-6 col-md-6 col-xs-10">
          <div class="input-group">
            <input type="search" id="txtSearch" name='search' class="form-control" placeholder="Pesquisar" aria-label="Procurar Regra" aria-describedby="btnSearch">
            <div class="input-group-append">
              <button class="btn btn-success" type="button" id="btnSearch"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
    </header> 
      
    <div class="table-responsive">
      <table id="role-table" class="table table-hover">
        <thead>
          <tr>        
            <th>Nome</th>
            <th>Descrição</th>        
            <th></th>        
            <th></th>        
          </tr>
        </thead>
        <tbody>
          <tr [id]="role.id"
          *ngFor='let role of roles | paginate : { itemsPerPage: pagination.PageSize, currentPage: pagination.CurrentPage, totalItems: pagination.TotalCount};'>    
            <td>{{role.name}}</td>
            <td>{{role.description}}</td>        
            <td><a class="btn btn-warning btn-sm" [routerLink]="['../update/', role.id]"><i class="fa fa-edit"></i></a></td>
            <td><button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button></td>
          </tr>
        </tbody>
      </table>
     
      <div class="row no-gutters" id="rolePagination">
        <div class="col-12 text-center">
          <pagination-controls 
          (pageChange)="onHandlePageChange($event)"
          maxSize="8"
          responsive="true"
          previousLabel=""
          nextLabel="">
          </pagination-controls>
        </div>
      </div>           
  </div>
  
  