<div *ngIf="isLoading">
    <app-loading [fullscreen]="true"></app-loading>
  </div>
  
  <header *ngIf="donations && donations.length > 0">
    <h2 class="text-center">Doações Realizadas <i style="color: red;" class="fa fa-heartbeat"></i></h2>
  </header>
  <div class="container">
    <app-donate-list *ngIf="donations || hasSearch" [donations]='donations' 
                    [pagination]='pagination' 
                    (onPageChange)='onHandlePageChange($event)'
                    (onItemChange)='onItemChange($event)'
    >
    </app-donate-list>
      
  </div>  

  <button style="visibility: hidden;" id="modalTrigger" data-toggle="modal" data-target="#ItemDetailsModal"></button>

  <div>               
    <!-- Modal -->
    <div class="modal fade" id="ItemDetailsModal" tabindex="-1" role="dialog" aria-labelledby="ItemDetailsModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title">Itens Doados</h5>             
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
              <div class="modal-body" *ngIf="selectedDonation">                      
                  <div class="row" *ngFor="let item of selectedDonation.items">
                      <div class="col-12 text-center">
                          <p>{{item.name > 20 ? (item.name | slice:0:20) + '..' : item.name }} - <b>{{item.price > 0 ? (item.price| currency:"BRL"):'' }}</b> ({{item.quantity}}<b>x</b>)</p>                        
                      </div>                       
                  </div>     
                  <div class="row" *ngIf='selectedDonation.items == 0'>
                    <div class="col-12 text-center">
                        <p><b>Não há itens.</b></p>                        
                    </div>                       
                </div>                                                                                                                                       
              </div>   
              <div class="modal-footer" *ngIf="selectedDonation">   
                <div style="width: 100%;" class="text-center">
                  <p *ngIf="selectedDonation.total > 0"><b>Total: {{selectedDonation.total | currency:'BRL'}}</b></p>    
                  <p *ngIf="selectedDonation.total == 0"><b>Total: --</b></p>
                  <button (click)="cancel(selectedDonation)" class="btn btn-danger" *ngIf="selectedDonation.total == 0 && selectedDonation.canceled==false && selectedDonation.completed==false" data-dismiss="modal" aria-label="Cancel">Cancelar</button>      
                  <h7 *ngIf="selectedDonation && selectedDonation.canceled==true"><i style="padding: 6px;color: red;" class="fa fa-minus-circle"></i> (CANCELADO)</h7>
                </div>                                                           
              </div>      
          </div>
        </div>
    </div>
</div>

    
    