<div class="row">
    <div class="col-12">
      
        <div *ngIf="isLoading">
            <app-loading></app-loading>
        </div>
             
        <form #updateForm='ngForm' (ngSubmit)='onUpdate(updateForm)' id="update-form">
            
            <app-alert></app-alert>
                  
            <div class="form-row">
                <div class="form-group col-md-12 col-sm-12">
                    <h3 class="text-center">Atualizar Dados (Doador PJ)</h3>                  
                </div>                           
            </div>           
          
            <hr>

            <div class="form-row">              
                <div class="form-group col-md-12 col-sm-12">
                    <label for="companyName">Nome da Empresa *</label>
                    <input type="text" required [(ngModel)]='donorPj && donorPj.company_name' name="companyName" id="companyName" class="form-control is-valid">
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>              
            </div>

            <div class="form-row">   
                <div class="form-group col-md-6 col-sm-12">
                    <label for="contactName">Nome Representante *</label>
                    <input type="text" required [(ngModel)]='donorPj && donorPj.contact_name' name="contactName" id="contactName" class="form-control is-invalid">
                      <div class="invalid-feedback">
                        Looks good!
                      </div>
                </div>
                <div class="form-group col-md-6 col-sm-12">
                    <label for="cnpj">CNPJ *</label>
                    <input type="text" required [(ngModel)]='donorPj && donorPj.cnpj' name="cnpj" id="cnpj" class="form-control">
                </div>
            </div>          
          
            <div class="form-row"> 
                <div class="form-group col-md-5 col-sm-12">
                    <label for="country">País *</label>
                    <select required ngModel="BR" name="country" id="country" class="form-control">
                        <option selected value="BR">Brasil</option>
                    </select>
                </div> 
                <div class="form-group col-md-2 col-sm-12">
                    <label for="state">Estado *</label>
                    <input type="text" required [(ngModel)]='donorPj && donorPj.state' name="state" id="state" class="form-control">
                </div>  
                <div class="form-group col-md-5 col-sm-12">
                    <label for="city">Cidade *</label>
                    <input type="text" required [(ngModel)]='donorPj && donorPj.city' name="city" id="city" class="form-control">
                </div>                          
            </div>
           
            <div class="text-center" id="login-buttons">
                <button 
                    class="btn btn-primary btn-large-width"
                    [disabled]="!updateForm.valid || updateForm.pristine"
                    >
                    Atualizar <i class="fa fa-save"></i></button>              
            </div>                     
        </form>
    </div>
</div>