   <div class="container-fluid p-0 no-gutters">
  
    <div  id="donation-list" *ngIf="donations && donations.length > 0">           
      <div class="table-responsive">
        <table id="donation-table" class="table table-hover">
          <thead>
            <tr class="text-center">
              <th>Data</th>
              <th *ngIf="!isCharity()">Entidade</th>            
              <th [ngClass]="{'d-none d-sm-table-cell': !isCharity()}">Total</th>           
              <th class="d-none d-sm-table-cell">Cancelado</th>
              <th class="d-none d-sm-table-cell">Concluída</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr [ngClass]="{'error': donation.canceled==true}" [id]="donation.id" (click)="onItemClicked(donation)" class="donation-item text-center"
            *ngFor='let donation of donations | paginate : { itemsPerPage: pagination.PageSize, currentPage: pagination.CurrentPage, totalItems: pagination.TotalCount};'>    
              <td>{{donation.date | date:'dd-MM-yyyy HH:mm:ss'}}</td>
              <td *ngIf="!isCharity()" [title]="donation.charitable_entity.name">{{donation.charitable_entity.name.length > 15 ? (donation.charitable_entity.name | slice:0:15) + '..' : donation.charitable_entity.name }}</td>       
              <td [ngClass]="{'d-none d-sm-table-cell': !isCharity()}" *ngIf="donation.total > 0">{{donation.total | currency:'BRL' }}</td>
              <td [ngClass]="{'d-none d-sm-table-cell': !isCharity()}" *ngIf="donation.total == 0">--</td>              
              <td *ngIf="donation.total == 0" class="d-none d-sm-table-cell"><i style="padding: 6px;color: red;" *ngIf="donation.canceled==true" class="fa fa-minus-circle"> </i>{{donation.canceled==true?'Sim':'Não'}}</td>
              <td *ngIf="donation.total > 0" class="d-none d-sm-table-cell">--</td>
              <td class="d-none d-sm-table-cell"><i style="padding: 6px;color: green;" *ngIf="donation.completed==true" class="fa fa-check-circle"></i><i style="padding: 6px;color: yellow;" *ngIf="donation.completed==false && donation.canceled==false" class="fa fa-exclamation-triangle"> </i>{{donation.completed==true?'Sim':'Não'}}</td>
              <td class="d-none d-sm-table-cell"><span class="badge" [ngClass]="{'badge-info': donation.total == 0, 'badge-success': donation.total > 0}">{{donation.total > 0 ? 'online' : 'presencial'}}</span></td>
              <td class="d-table-cell d-sm-none"><i style="padding: 6px;color: red;" *ngIf="donation.canceled==true" class="fa fa-minus-circle"></i><i style="padding: 6px;color: yellow;" *ngIf="donation.completed==false && donation.canceled==false" class="fa fa-exclamation-triangle"></i><i style="padding: 6px;color: green;" *ngIf="donation.completed==true" class="fa fa-check"></i> <span class="badge" [ngClass]="{'badge-info': donation.total == 0, 'badge-success': donation.total > 0}">{{donation.total > 0 ? 'O' : 'P'}}</span></td>
            </tr>
          </tbody>
        </table>      
      </div>
  
        <div class="row no-gutters" id="donationPagination">
          <div class="col-12 text-center">
            <pagination-controls 
            (pageChange)="onHandlePageChange($event)"
            maxSize="8"
            responsive="true"
            previousLabel=""
            nextLabel="">
            </pagination-controls>
          </div>
        </div> 
   </div> 
   
   <div class="row no-gutters" id="noDonation" *ngIf="(donations && donations.length == 0) || donations == null || donations == undefined">
    <div class="col-12 text-center" style="max-width: 400px; max-height: 400px;border: 1px dotted orangered;margin: auto;padding: 20px;">
      <p><i style="color: orangered;font-size: 24px;" class="fa fa-warning"></i></p>
      <h2 style="font-size: 18px;font-weight: bolder;">Não encontramos nenhuma doação.</h2>
    </div>
  </div> 
   
  </div>  